body {
    background-color: #666666;
}

#HalNavn{
    text-align:center;
    font-size:100px;
    font-weight:bold;
}
.spaceBetweenTR {
    border: 1px solid black;
    text-align: center;
    width: 100px;
}

.trBorder {
    border: 2px solid black;
}