body {
    background-color: #ADADAD;
}
#HalNavnBox {
    background: transparent;
    padding: 5px;
    font-size: 33px;
    font-weight: bold;
    line-height: 1.3;
    border: 0;
    border-radius: 0;
    height: 56px;
    -webkit-appearance: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.spaceBetweenTR {
    border: 4px solid black;
    text-align: center;
    width: 70px;
}
td {
    padding: 7px;
}
.trBorder {
    border: 4px solid black;
}
.trxkstraBorder {
    border: 1px solid;
    border-color: #adadad;
    border-left: 4px solid black;
}
.test {
    width: auto;
}
